.dashboard-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

.dashboard-container a{
    text-decoration: underline;
    color: rgb(0, 0, 161);
}

.welcome-message {
    margin-top: 4rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.PC {
    margin-right: 40px;
    font-size: 1rem;
    
}

.hash {
    text-decoration: underline;
    color: rgb(0, 0, 161);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* background-color: #afafaf; */
    padding: 1rem;
    margin-bottom: 2rem;
}

.navbar-item {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.active {
    background-color: rgb(212, 212, 212);
}

.navbar-item:hover {
    background-color: rgb(246, 246, 246);
}

.active:hover {
    background-color: rgb(212, 212, 212);
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.searchbar input {
    width: 70%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 1rem;
    font-size: 1rem;
}

.node-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hash-container { /* New class for hash and button container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tx-card {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
}

.tx-container { 
    margin: auto;
    width: 80%;
}

.pay-container { /* New class for hash and button container */
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pay-amount {
    text-align: right;
    width: 80px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pay-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: darkblue;
}

.transaction-container {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-button {
    margin: 20px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.transaction-button:hover {
    background-color: darkblue;
}
