.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

.login-title {
  text-align: center;
  color: #333;
}

.login-error {
  color: red;
  font-size: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show-password {
  padding-bottom: 10%;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-register {
  text-align: center;
  margin-top: 20px;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  padding-right: 40px; /* Adjust based on the size of the icon */
}

.password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 35px 10px 10px; 
  box-sizing: border-box; 
}

.password-wrapper span {
  position: absolute;
  top: 30%;
  right: 10px; /* Adjust based on your design */
  transform: translateY(-50%);
  color: #999; /* Color of the icon */
}
